.card {
  background: radial-gradient(
    100% 100% at 50% 0%,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.02) 100%
  );
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(12px);
  border-radius: 10px;
  padding: 1.4rem;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  padding: 1px;
  /* Ширина границы */
  background: linear-gradient(180deg, #ffffff, #ffffff00);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  /* Нужен для правильной маски */
  mask-composite: exclude;
  pointer-events: none;
  /* Чтобы псевдоэлемент не мешал кликам */
}

.person_info {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.Image_wrap {
 
  /* max-width: 15rem;
  max-height: 15rem; */
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  width: 100%;
  max-width: 150px;
  height: 150px;
  aspect-ratio: 150 / 150;
}

.Image_wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.base {
  color: #fff;
  font-family: "Exo2-Regular";
  font-style: normal;
}
.full_name {
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
  line-height: 2.88rem;
  white-space: nowrap;
}
.position {
  color: #d2d2d2;
  font-size: 1.4rem;
  /* line-height: 110%  */
}
.reception {
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 1.2rem;
  padding-top: 1.2rem;
  align-items: center;
  gap: 1.2rem;
}
.reception_time {
  font-size: 1.4rem;
  /* line-height: 110% */
}
.social {
  margin-top: 2.4rem;
  display: flex;
  justify-content: space-between;
}
.image_social {
  max-width: 3.6rem;
  max-height: 3.6rem;
}
.social_block {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
@media (max-width: 1280px){
  .Image_wrap{
    max-width: 130px;
    height: 130px;
  }
}
@media (max-width: 600px){
  .Image_wrap{
    max-width: 90px;
    height: 90px;
  }
}