.wrap {
  padding-top: 5rem;
  position: relative;
}

.title {
  text-align: center;
}
.director {
  display: flex;
  justify-content: center;
  /* border: 1px solid #fff; */
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
}

.background_text {
  position: absolute;
  /* top: 7rem; */
  left: 0;
  right: 0;
  z-index: -1;
  font-family: "Roboto-Boldr";
  font-size: 17.5rem;
  font-style: normal;
  line-height: 18rem;
  color: #00e85d;
  opacity: 0.05;
  text-transform: uppercase;
  text-align: center;
}
.circular {
  min-width: 60rem;
  min-height: 58rem;
  flex-shrink: 0;
  bottom: 0px;
  left: 0px;
}

.circular_min {
  min-width: 50rem;
  min-height: 48rem;
  flex-shrink: 0;
  top: 0px;
  right: 0px;
}
@media (max-width: 1280px){
  .background_text{
    font-size: 10rem;
    top: 6rem;
  }
}

@media (max-width: 1024px) {
  
  .background_text{
    font-size: 10rem;
    top: 6rem;
  }
  .wrap {
    padding-top: 8rem;
  }
}
@media (max-width: 992px) {
  .background_text{
    font-size: 8rem;
  }
}
@media (max-width: 850px) {
  .background_text{
    font-size: 7rem;
  }
  .grid{
    grid-template-columns: repeat(1,1fr);
  }
}
@media (max-width: 600px) {
  .background_text{
    font-size: 6rem;
  }
  
}
@media (max-width: 450px){
  .director{
    left: 5px;
  }
}
@media (max-width: 330px){
  .director{
    left: 15px;
  }
}

