.wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    align-items: center;
}

.text {
    color: #B0B0B0;
    font-family: "Roboto-Regular";
    font-size: 1.6rem;
    font-style: normal;
    line-height: 2.7rem;
    margin: 4rem 0 0 0;
}

.link {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 1px solid #ddd;
    color: #909090;
}

.linkText {
    font-family: Roboto;
    font-size: 1.8rem;
    font-style: normal;
    padding: 1.8rem 3.9rem;
    border-radius: 5rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.08) 0%, rgba(198, 198, 198, 0.08) 100%);
    border: 1px solid transparent;
    transition: .3s;
    cursor: pointer;
}

.linkText:hover {
    border: 1px solid #00E85D;
    transform: scale(1.1);
}

.playIcon {
    border-radius: 50px;
    padding: 1rem;
    border: 1px solid transparent;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.08) 0%, rgba(198, 198, 198, 0.08) 100%);
    position: relative;
}

.playIcon span{
    border-radius: 50px;
    padding: 1rem;
    border: 1px solid transparent;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.08) 0%, rgba(198, 198, 198, 0.08) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s;
}

.playIcon span:hover {
    transform: scale(1.4);
    border: 1px solid #00E85D;
}
.playIcon span:hover img{
    transform: scale(0.8);
}
.playIcon span:hover .playIcon{
    border: 1px solid #00E85D;  
}
.imageSection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    gap: 1.5rem;
}
.top_left{
    border-radius: 164px 0px 10px 0px;  
            display: flex;
            justify-content: center;
            align-items: center;
    overflow: hidden;

}
.bottom_right{
    border-radius: 10px 0px 164px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}