.language_wrap{
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
}
.language{
    display: flex;
    gap: .5rem;
    font-family: "Exo2-Medium";
    width: 0;
    overflow: hidden;
    transition: .3s;
   
}

.uncover{
    width: 8rem;
    transition: .3s;
}
.noactive{
    color: #A8A8A8;
    cursor: pointer;
}
.active{
    color: #fff;
    cursor: pointer;
}
.wrap_icon{
   display: flex;
   align-items: center;
   cursor: pointer;
}
.wrap_icon span{
    font-family: "Exo2-Medium";
    color: #fff;
    margin-right: 0.5rem;
}

@media (max-width: 800px) {
    .icon{
     /* width: 2.5rem; */
        /* height: 2.5rem; */
    }
    .language_wrap{
        /* font-size: 2.5rem;    */
    }
}