@font-face {
    src: url("../assets/fonts/static/Exo2-Medium.ttf");
    font-family: "Exo2-Medium";
}
@font-face {
    src: url("../assets/fonts/static/Exo2-Regular.ttf");
    font-family: "Exo2-Regular";
}
@font-face {
    src: url("../assets/fonts/Roboto/Roboto-Bold.ttf");
    font-family: "Roboto-Boldr";
}
@font-face {
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
    font-family: "Roboto-Regular";
}
