@font-face {
    src: url("../assets/fonts/static/Exo2-Medium.ttf");
    font-family: "Exo2-Medium";
}
@font-face {
    src: url("../assets/fonts/static/Exo2-Regular.ttf");
    font-family: "Exo2-Regular";
}
@font-face {
    src: url("../assets/fonts/Roboto/Roboto-Bold.ttf");
    font-family: "Roboto-Boldr";
}
@font-face {
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
    font-family: "Roboto-Regular";
}
@font-face {
    src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
    font-family: "Roboto-Medium";
}
@font-face {
    src: url("../assets/fonts/static/Exo2-Medium.ttf");
    font-family: "Exo2-Medium";
}
@font-face {
    src: url("../assets/fonts/static/Exo2-Regular.ttf");
    font-family: "Exo2-Regular";
}
@font-face {
    src: url("../assets/fonts/static/Exo2-Bold.ttf");
    font-family: "Exo2-Bold";
}
@font-face {
    src: url("../assets/fonts/Work_Sans/WorkSans-Medium.ttf");
    font-family: "WorkSans-Medium";
}
@font-face {
    src: url("../assets/fonts/Work_Sans/WorkSans-SemiBold.ttf");
    font-family: "WorkSans-SemiBold";
}
@font-face {
    src: url("../assets/fonts/Work_Sans/WorkSans-Regular.ttf");
    font-family: "WorkSans-Regular";
}
@font-face {
    src: url("../assets/fonts/static/Inter_18pt-Bold.ttf");
    font-family: "Inter_18pt-Bold";
}
@font-face {
    src: url("../assets/fonts/static/Inter_18pt-Regular.ttf");
    font-family: "Inter_18pt-Regular";
}
@font-face {
    src: url("../assets/fonts/static/Inter_18pt-SemiBold.ttf");
    font-family: "Inter_18pt-SemiBold";
}