@import"./fonts.css";
@import"./carousel.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  overflow-x: hidden;
 background: url(../assets/img/fon.jpg) no-repeat;
 background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul {
  list-style: none;
}
img{
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1320px;
  margin: auto;
  margin-top: 5rem;
}

.sectionTitle {
  font-family: "Roboto-Boldr";
  color: #00E85D;
  font-size: 5rem;
  font-style: normal;
  line-height: 5.2rem;
}