@import"./fonts.css";
@import"./carousel.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  overflow-x: hidden;
  background-color: #000702;

  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 132rem;
  margin: auto;
  margin-top: 15rem;
}

.sectionTitle {
  font-family: "Roboto-Boldr";
  color: #00E85D;
  font-size: 5rem;
  font-style: normal;
  line-height: 3.125rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
}
.background_text {
  position: absolute;
  top: 0;
  z-index: -1;
  font-family: "Roboto-Boldr";
  font-size: 17.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 23rem;
  color: #00E85D;
  opacity: 0.05;
  text-transform: uppercase;
}