.image{
    filter:  grayscale(90%);
    transition: .3s;
}
.image:hover{
    filter:  grayscale(0%);
    transition: .3s;
}
@media (max-width: 800px) {
   .image{
    max-width: 10rem;
    max-height: 10rem;    
   }
  }