.wrap{
    position: relative;
    padding-top: 15rem;
    margin-bottom: 7.5rem;
}
.carousel{
    position: relative;
    margin-bottom: 15rem;
}

.circular {
    min-width: 65.8rem;
    min-height: 63.9rem;
    flex-shrink: 0;
    bottom: 0px;
    right: 0px;
}