.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2.4rem;
}
.card {
    border-radius: 1rem;
    border: 0.5px solid #474747;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    padding: 3.6rem 3rem;
    min-width: 31.5 rem;
}

.count {
    color: #B0B0B0;
    text-align: center;
    font-family: "Roboto-Boldr";
    font-size: 8rem;
    font-style: normal;
    line-height: 5.2rem;
    margin-bottom: 2.5rem;
    transition: .2s;
}
.card:hover .count{
    color: #00E85D;
    transition: .2s;
}
.text {
    color: #B0B0B0;
    text-align: center;
    font-family: "Roboto-Medium";
    font-size: 2.4rem;
    font-style: normal;
    line-height: 2.7rem;
}