.title {
    color: #00E85D;
    font-family: "Roboto-Boldr";
    font-size: 5rem;
    font-style: normal;
    line-height: 5.2rem;
    margin-bottom: 2.4rem;
}

.link {
    color: rgba(255, 255, 255, 0.50);
    font-family: "Exo2-Medium";
    font-size: 2.2rem;
    font-style: normal;
    line-height: 4.4rem;    
    text-transform: capitalize;
}
.color{
    color: #00E85D;
}
.wrap{
    display: flex;
    justify-content: space-between;
}
.nav{
    display: flex;
    align-items: center;
    gap: 2.4rem;
    margin-bottom: 4rem;
}
.icon{
    width: 2.4rem;
    height: 2.4rem;
}

.date_wrap {
    display: flex;
    align-items: center;
}

.date_text {
    color: #B0B0B0;
    font-family: "Exo2-Regular";
    font-size: 1.6rem;
    font-style: normal;
    line-height: 110%;
}

.icon_eye {
    display: flex;
    align-items: center;
}

.icon_eye .icon {
    width: 1.8rem;
    height: 1.8rem;
    margin: 0 0.8rem 0 1.2rem;
}